<!-- Create Request Modal -->
<div id="create_request_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <div id="create_request_modal_container">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create a shipper request</h4>
                    </div>

                    <br/>

                    <div class="form-group">
                        <label for="arrivalDay">Select Arrival Day : </label>
                        <input type="text" class="form-control date-picker-cstm" id="arrivalDay" placeholder="DD/MM/YYYY" />
                    </div>

                    <div class="form-group">
                        <label for="arrivalDaySeconds">Select Arrival Time : </label>
                        <div class="input-group clockpicker">
                            <input type="text" id="arrivalDaySeconds" class="form-control" value="09:30">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="unloadCompleteDay">Select Unload Complete Day : </label>
                        <input type="text" class="form-control date-picker-cstm" id="unloadCompleteDay" placeholder="DD/MM/YYYY" />
                    </div>

                    <div class="form-group">
                        <label for="unloadCompleteDaySeconds">Select Unload Complete Time : </label>
                        <div class="input-group clockpicker">
                            <input type="text" id="unloadCompleteDaySeconds" class="form-control" value="10:30">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="amountOffered">Amount Offered : </label>
                        <input type="text" class="form-control" id="amountOffered" placeholder="Enter amount to be offered" />
                    </div>

                    <div class="form-group">
                        <label for="portersRequired">Porters Required : </label>
                        <input type="text" class="form-control" id="portersRequired" placeholder="Enter number of porters required" />
                    </div>

                    <div class="location-select-container">
                        <div class="form-group">
                            <label for="user_select_email">Enter location : </label>&nbsp;
                            <input type="text" class="typeahead form-control" id="location_select_input" placeholder="Search by Location here.."/>&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="hide" id="create_request_response">

                    </div>

                    <button id="createRequestBtn" type="button" class="btn btn-primary">Create</button>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <header>

            <div class="col-sm-4 col-xs-12 text-center">
                <div class="header-head">
                    <a href="/web/shipper-dashboard">Shipper Dashboard</a>&nbsp;&nbsp;&nbsp;
                    <a href="/web/shipper-dashboard/near-by-porters" class="btn btn-primary" role="button">View Porters</a>
                </div>
            </div>

            <div class="col-sm-8 col-xs-12 text-center">

                <div class="header-navigation">

                    <form class="form-inline" onsubmit="return false;">
                        <div class="form-group">

                            <label for="creator">Select Shipper : </label>&nbsp;&nbsp;&nbsp;

                            <select id="creator" class="form-control">
                                <option value="0">Please select a Shipper</option>
                                <option value="1">Shipper 1</option>
                                <option value="2">Shipper 2</option>
                                <option value="3">Shipper 3</option>
                            </select>&nbsp;&nbsp;&nbsp;

                            <button id="openCreateRequestBtn" class="btn btn-default" type="submit">Create Request</button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="clear"></div>

        </header>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="request-header">
                <h2>All requests for this shipper -</h2>
            </div>



            <div class="row" id="requests_container">

                <script id="request_container_hbs" type="text/x-handlebars-template">​

                    <div class="col-xs-6 col-sm-4 col-lg-3 request-container" data-job-id="\{{jobId}}">

                        <div class="request-attr-container">
                            <span class="request-attr-name">Required Porters : </span>
                            <span class="request-attr-value request-porter-required pull-right">\{{portersRequired}}</span>
                        </div>

                        <hr/>

                        <div class="request-attr-container">
                            <span class="request-attr-name">Job Id : </span>
                            <span class="request-attr-value pull-right">\{{jobId}}</span>
                        </div>

                        <div class="request-attr-container">
                            <span class="request-attr-name">Arrival Time : </span>
                            <span class="request-attr-value pull-right">\{{arrivalTimeString}}</span>
                            <br/>
                        </div>

                        <div class="request-attr-container">
                            <span class="request-attr-name">Unload Complete Time : </span>
                            <span class="request-attr-value pull-right">\{{unloadCompleteTimeString}}</span>
                            <br/>
                        </div>

                        <div class="request-attr-container">
                            <span class="request-attr-name">Amount Offered : </span>
                            <span class="request-attr-value pull-right">\{{amountOffered}}</span>
                        </div>

                        <div class="request-attr-container">
                            <span class="request-attr-name">Location : </span>
                            <span class="request-attr-value pull-right">\{{locationText}}</span>
                            <br/>
                        </div>

                    </div>

                ​</script>

            </div>

        </div>
    </div>

</div>

